* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16pt;
}

body {
    height: 100vh;
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Tajawal', sans-serif;
}

header {
    background-color: #eee;
    width: 100%;
    height: 100px;
}

header .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1320px) {
    header .container {
        width: 100%;
    }
}

header .container nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

header .container nav .col {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header .container nav .logo {
    margin-left: 30px;
}

header .container nav .logo img {
    height: 100px;
}

header .container nav .links ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header .container nav .links ul li {
    cursor: pointer;
    margin-left: 20px;
    font-size: 14pt;
    font-weight: bold;
    position: relative;
}

header .container nav .links ul li:hover {
    content: "";
    animation: padding-animation 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes padding-animation {
    0% {
        padding-left: 0;
        padding-right: 0;
    }
    50% {
        padding-left: 10px;
        padding-right: 10px;
    }
    100% {
        padding-left: 0;
        padding-right: 0;
    }
}

header .container nav .links ul li:hover::after {
    content: "";
    border-bottom: 3px solid #7c6a03;
    display: block;
    position: absolute;
    right: 0;
    padding-top: 5px;
    margin-left: 20px;
    animation: width-change 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes width-change {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

header .container nav .logout {
    margin-right: 50px;
}

header .container nav .logout a {
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    font-size: 14pt;
    font-weight: bold;
    position: relative;
    color: #000;
}

header .container nav .logout a:hover::after {
    content: "";
    border-bottom: 3px solid #7c6a03;
    display: block;
    position: absolute;
    right: 0;
    padding-top: 5px;
    margin-left: 20px;
    animation: width-change 0.2s linear;
    animation-fill-mode: forwards;
}

header .container nav .logout a:hover {
    content: "";
    animation: padding-animation 0.5s linear;
    animation-fill-mode: forwards;
}

header .container nav .logout span i {
    color: #7c6a03;
    transform: rotate(180deg);
}